<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book a Cab</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Book a Cab</h1>
    <h2>Hello, <span th:text="${username}"/></h2>
    <form action="#" th:action="@{/api/bookings/confirmed}" th:object="${booking}" method="post">
        <div class="form-group">
            <label for="pickUpDateTime">Pick-up Date and Time:</label>
            <input contenteditable="false" type="datetime-local" id="pickUpDateTime" th:field="*{pickUpDateTime}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="pickupLocation">Pick-up Location:</label>
            <input contenteditable="false" type="text" id="pickupLocation" th:field="*{pickupLocation}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <p>Price: <span th:text="${distance}"/> km</p>
        </div>
        <div class="form-group">
            <label for="destination">Destination:</label>
            <input contenteditable="false" type="text" id="destination" th:field="*{destination}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="minSeats">Minimum Seats:</label>
            <input contenteditable="false" type="number" id="minSeats" th:field="*{minSeats}" class="form-control"/>
        </div>
        <div class="form-group">
            <p>Price: <span th:text="${price}"/> Euro</p>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>
</body>

</html>