.container {
    background-color: #f8f9fa; /* Light background color */
    border-radius: 4px; /* Rounded corners */
    padding: 3.2rem 6.4rem;
    width: 60%;
    height: fit-content;
    align-self: center;
    font-size: 1.2rem;
}

.container--columns {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 7fr;
    /*height: 20rem;*/
    line-height: 3rem;
}

.enquiry--title {
    color: #f8f9fa;
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
    text-align: center;
}

.container--column div {
    color: #343a40;
    /*font-size: 3.2rem;*/
    width: 100%;
}

/* Input Styling */
.input--seats {
    width: 35%;
}

input {
    width: 100%; /* Full width of the container */
    padding: 8px 12px; /* Padding inside the input */
    margin: 0; /* Margin for spacing */
    border: 1px solid #ced4da; /* Light border */
    border-radius: 4px; /* Rounded corners */
    height: 4rem;
}

.enquiry--button {
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    float: right;
    color: var(--black);
    border: 0.3rem solid var(--amber);
    background: var(--light-aluminium);
}

.enquiry--confirm--button {
    padding: 1rem 1.6rem;
    font-size: 2rem;
    line-height: 1.6rem;
    float: right;
    color: var(--black);
    background-color: var(--amber);
    border: 0.3rem solid var(--amber);
}

.input-icons {
    position: relative;
    align-items: center;
    width: 100%;
}
.container--columns .input-icons i {
    position: absolute;
    bottom: 40%;
    transform: translateY(50%);
    padding: 1rem;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
}

.input-icons i:hover {
    color: #007bff;
}

.input-text-with-icon {
    padding-left: 4rem; /* Adjust the padding to make room for the icon */
    border: 1px solid #ccc;
    border-radius: 4px;
}

